@import "~bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@500&display=swap');

body {
    background-image: url("../img/fondoTicTacToe.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}

h1, h2, h3 {
    font-family: 'Kiwi Maru', serif;
}

.chooseWeapon {
    padding: 3rem;
    background-color: rgba(127, 255, 212, 0.753);
    max-width: 50rem;
}

.square {
  background: rgb(235, 233, 233);
  border: 1px solid peru;
  float: left;
  font-size: 50px;
  font-weight: bold;
  line-height: 34px;
  height: 150px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 150px;
}

.square:focus {
  outline: none;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.superboard{
    display: flex;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
}
