@import "~bootstrap/scss/bootstrap.scss";

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    height: 100%;
    background-color: #5783FA;
}

// #verticalAlign {
//     margin-top: auto;
//     margin-bottom: auto;
//     height: 100vh;
// }

h1, h3, button {

    font-family: 'Pangolin', cursive;
    font-weight: 400;
    font-size: 3rem;

}

.contTic h3 {

    font-size: 2rem;
}

h2 {

font-family: 'Roboto', sans-serif;

}

// Contenedor central
.contTic {
    margin-top: 7rem;
    background-color: #2FC9DE;
    border: 0.3rem solid white;
    border-radius: 0.5rem;
}

// // Quitar contenedor
// #displayNoMore {
//     display: none;

// }